################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/jenk/v17/.wsuo
*.json
/obj/project.nuget.cache
/obj/project.assets.json
/obj/jenkinsIIS.csproj.nuget.dgspec.json
/obj/Debug/net6.0/staticwebassets.pack.json
/obj/Debug/net6.0/staticwebassets.build.json
/obj/Debug/net6.0/staticwebassets.development.json
/obj/Debug/net6.0/jenkinsIIS.pdb
/obj/Debug/net6.0/jenkinsIIS.genruntimeconfig.cache
/obj/Debug/net6.0/jenkinsIIS.dll
/obj/Debug/net6.0/jenkinsIIS.csproj.FileListAbsolute.txt
/bin/Debug/net6.0/jenkinsIIS.staticwebassets.runtime.json
/bin/Debug/net6.0/jenkinsIIS.pdb
/bin/Debug/net6.0/jenkinsIIS.dll
/.vs/ProjectEvaluation/jenkinsiis.projects.v6.1
/.vs/ProjectEvaluation/jenkinsiis.metadata.v6.1
/.vs/jenkinsIIS/v17/.suo
/.vs/jenkinsIIS/v17/.futdcache.v2
/.vs/jenkinsIIS/DesignTimeBuild/.dtbcache.v2
