@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Faisal at F3 Tech</h1>
    <p>Learn more about <a href="https://www.fairfactorforce.com//">F3 Tech</a>.</p>
</div>
