@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the IIS JENKINS deployment!!!!</h1>
    <p>Learn more about <a href="https://github.com/kayanifaisal1/webapplication5">this here</a>!</p>
</div>
