@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to IIS JENKINS deployment!!!!</h1>
    <p>Learn about <a href="https://github.com/kayanifaisal1/webapplication5">this here!</a>.</p>
</div>
